/*Background of the page*/
body {
    background-color: #000;
}

/*Positioning welcome text and view all campgrounds button*/
#landing-header {
    /*z-index to 1 so all of the elements inside the landing-header div will be in front of the background images*/
    z-index: 1;
    /*The position is set to relative so we can use the z-index property; the default position value is static, which ignores z-index*/
    position: relative;
    text-align: center;
    /*padding-top to vertically center our div, since it's contents take up quite a bit of space 40vh (view height)
    is used instead of 50, this way the content looks more visually centered*/
    padding-top: 40vh;
}

/* change the h1 text color to white*/
#landing-header h1 {
    color: #fff;
}

/*style unordered list*/
.slideshow {
    /*This will fix the ul to the window, positioning it in the top left corner and filling the entire screen by setting width and height to 100%*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* z-index is set to 0 to keep the background images behind the rest of the page's content*/
    z-index: 0;
    /*ist-style is set to none in order to hide the bullet points from the list's default styling*/
    list-style: none;
    /*ist-style is set to none in order to hide the bullet points from the list's default styling*/
    margin: 0;
    padding: 0;
}

/*style list items -  imageAnimation that lasts for 50s (seconds), keeps linear timing (the whole animation runs at the same speed),
and loops an infinite number of times*/
.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

/*Each list item needs a background-image and the last four need an animation-delay(this way they all fire off one after the other in ten second intervals)*/
.slideshow li:nth-child(1) {
    background-image: url(http://i.imgur.com/K3mPv14.jpg)
}
.slideshow li:nth-child(2) {
    background-image: url(http://i.imgur.com/SBEmFpv.jpg);
    animation-delay: 10s;
}
.slideshow li:nth-child(3) {
    background-image: url(http://i.imgur.com/emvhOnb.jpg);
    animation-delay: 20s;
}
.slideshow li:nth-child(4) {
    background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
    animation-delay: 30s;
}
.slideshow li:nth-child(5) {
    background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
    animation-delay: 40s;
}

/*If we have 5 background images visible for 5 seconds each, then the time it takes to fade the image in and keep it visible
is 10 seconds with a 5 second crossfade/fadeout into the next image
100% divided by 5 is 20% so each image's fadein and visibility should last 20%*/
@keyframes imageAnimation {
    /*From 0% to 10% (the beginning of our animation) the list item begins changing it's opacity from 0 to 1 (invisible to visible)
    the animation-timing-function is set to ease-in at 0% and ease-out and 10%, this makes for a more smooth fade-in */
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    /*The list item's opacity then stays at 1 until it reaches 20% at which point it fades back out,
    reaching 0 at 30% and staying at 0 for the remainder of the animation*/
    20% {
        opacity: 1
    }
    /*half of 20% is 10%, that is why our fade in is from 0% to 10%, then we keep it visible until 20% is reached and begin the fadeout from 20% to 30%,
    the 5 second fadeout overlaps the next image's 5 second fadein, which is what creates the crossfade effect*/
    30% {
        opacity: 0
    }
}

/* Older browser support - .no-cssanimations class*/
.no-cssanimations .slideshow li {
    opacity: 1;
}